body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0260c5;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
}

header img{
    width: 200px;
}

#menu {
    width: 250px;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    height: 100vh;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    padding: 10px;
    border-bottom: 1px solid white;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

#menu ul li ul {
    display: none;
    background-color: #02356b;
    padding-left: 20px;
}

#menu ul li:hover ul {
    display: block;
}


#content {
    margin-left: 260px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #02356b;
    color: #fff;
}

.excluir a{
    color: red;
}